.datepicker-container{
  position:relative;
  display: inline-block;
}
.picker-input{
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding:5px 5px 5px 40px;
  height: 36px;
  width: 266px;
  outline: none;
}
.picker-img{
  position:absolute;
  left: 2px;
  top: 2px;
  height: 30px;
  width: 30px;
}
.picker-con{
  height:auto;
  width:266px;
  background:#ffffff;
  position:absolute;
  left:0;
  top:24;
  z-index:99999;
  border: 1px solid #ddd;
  text-align: center;
}
.picker-contop{
  height:36px;
  width:266px;
  text-align:center;
  background:#ddd;
}
.contop-pre{
  width:43px;
  text-align:center;
  display:inline-block;
  cursor:pointer;
}
.contop-middle{
  height:36px;
  line-height:36px;
  width:150px;
  display:inline-block;
}
.contop-next{
  width:43px;
  text-align:center;
  display:inline-block;
  cursor:pointer;
}
.picker-eachday{
  border: 1px solid #f0f0f0;
  height:30px;
  line-height:30px;
  display:inline-block;
  text-align:center;
  cursor:pointer;
}
.eachday-text{
  height:30px;
  line-height:30px;
  width:35px;
  display:inline-block
}
.each-text{
  height:30px;
  line-height:30px;
  width:35px;
  display:inline-block
}
.picker-buttom{
  height:36px;
  line-height:36px;
  width:266px;
  text-align:center;
  cursor:pointer;
  background:#FA5050;
  color:#ffffff;
  margin-top: 5px;
}

